<div class="playground_section">
  <h2>Add dogs to the Playground!</h2>
  <h3>Drag the dog's photo here and click on it to get their profile</h3>

</div>

<div class="search_randomize_bar">
  <a href="/search">search by breed</a>
  <a href="/randomize">randomize!</a>
</div>

<div class="browse_container">

  <div class="browse_list">
      <% @all_dogs.each do |dog| %>
      <br>
      <div class="profile_box" id="<%=dog.id%>">
        <div class="photo_div">
          <img src= <%= dog.image_link %> style="float:left;" class="browse_dog_pic" id="<%=dog.id%>"/>
        </div>
        <div class="text_div">
          <p>Name: <%= dog.name%> </p>
          <p>Breed: <%= dog.breed%> </p>
          <p>Gender: <%= dog.gender%> </p><br>
          <a href="/dogs/<%=dog.id%>">Click here for more information about <%= dog.name %></a>
        </div>
        <br><br><br>
      </div>
      <% end %>
  </div>


  <div class="profile_show">
    <p>lajg;adjksl;gjadlskjasdlklf</p>
    <%= erb :_profiles %>
  </div>

  <div class="clear"></div>
</div>

