<div id="fave_container">
      <% @user_faves.each do |fave| %>
  <div class="whole">
  <div class="type">
    <p>FAVORITE</p>
    </div>
  <div class="plan">

    <div class="dog-name-header">
      <sup><%= Dog.find(fave.dog_id).name  %></sup>
    </div>
    <div class="content">
        <p>Breed: <%= Dog.find(fave.dog_id).breed%></p>
        <p>Sex: <%= Dog.find(fave.dog_id).gender%></p>
        <p>Favorited <strong><%= Dog.find(fave.dog_id).favorites.count%></strong> times</p>
    </div>

    <div class="price">
      <a href="/dogs/<%= fave.dog_id%>" class="bottom"><p class="cart">Red Ball Rating Profile</p></a>
    </div>
  </div>
      <% end %>
</div>
