
<div class="list">

    <img src=<%= @view_dog.image_link %> width="300px" style="float:left; padding-bottom: 20px; margin-right: 30px"/>
  <div class="description">
    <p>Name: <%= @view_dog.name%> </p>
    <p>Breed: <%= @view_dog.breed%> </p>
    <p>Gender: <%= @view_dog.gender%> </p>
    <p><a href=<%= @view_dog.direct_url%>>Full Profile on Family Dog Rescue</a></p>
    <p>Description: <%= @view_dog.description%> </p><br>

  </div>


  <div class="attribute_list">
    <h2>Personality Ratings</h2>
    <ul style="padding-left: 0px;">
      <li class="affectionate">Affectionate: <%=@view_dog.ratings.where(affectionate: "on").count %> votes <img src="http://oi58.tinypic.com/2wr1dm9.jpg"></li>
      <li>Independent: <%=@view_dog.ratings.where(independent: "on").count %> votes <img src="http://oi58.tinypic.com/f3eyc0.jpg"></li>
      <li>Playful: <%=@view_dog.ratings.where(playful: "on").count %> votes <img src="http://oi58.tinypic.com/del9wg.jpg"></li>
      <li>Timid: <%=@view_dog.ratings.where(timid: "on").count %> votes <img src="http://i58.tinypic.com/jzk7sg_th.png"></li>
      <li>Good with Kids: <%=@view_dog.ratings.where(good_with_kids: "on").count %> votes <img src="http://i60.tinypic.com/9h5glj_th.png"></li>
      <li>High Energy: <%=@view_dog.ratings.where(high_energy: "on").count %> votes <img src="http://i58.tinypic.com/657slj_th.png"></li>
      <li>Chill: <%=@view_dog.ratings.where(chill: "on").count %> votes <img src="http://i58.tinypic.com/2ajvxva_th.png"></li>
    </ul>
  </div>






  <div class="rate_section">
    <button><h2>Rate <%= @view_dog.name %>!</h2></button><br>
    <form onsubmit="return false;" class="rate_form" id="<%=@view_dog.id%>">
    <h3>What is <%= @view_dog.name %> like? </h3>

      <input type="checkbox" name="dog[affectionate]"> Affectionate <br><br>

      <input type="checkbox" name="dog[independent]"> Independent <br><br>

      <input type="checkbox" name="dog[playful]" > Playful<br><br>

      <input type="checkbox" name="dog[timid]"> Timid<br><br>

      <input type="checkbox" name="dog[good_with_kids]"> Good with Kids<br><br>

      <input type="checkbox" name="dog[high_energy]"> High Energy<br><br>

      <input type="checkbox" name="dog[chill]"> Chill <br><br>

      <label for="video_link">Youtube Video Link: </label>
      <input type="text" name="dog[video_url]" id="video_link"> </textarea><br>

      <label for="comment_field">Comments: </label>
      <textarea name="dog[comments]" id="comment_field"> </textarea><br>

      <button type="submit"> Submit </button>

      <div class="padding"></div>

    </form>
  </div>

</div>


