
<div class="list">

  <div class="profile_panel">
    <img src=<%= @view_dog.image_link %> width="500px" style="padding: 50px"/>
    <div class="description">
      <span class="dog_name"><%= @view_dog.name%> </span>
      <p><strong>Breed:</strong> <%= @view_dog.breed%> </p>
        <% if @view_dog.gender == "Male"%>
          <p><strong>Gender:</strong> <%= @view_dog.gender%> <i class="fa fa-mars"></i>  </p>

        <% elsif @view_dog.gender == "Female" %>
          <p><strong>Gender:</strong> <%= @view_dog.gender%> <i class="fa fa-venus"></i></p>
        <% else %>
          <p><strong>Gender:</strong> Unknown <i class="fa fa-circle-thin"></i></p>
        <% end%>


      <p><strong>Description:</strong> <%= @view_dog.description%> </p><br>
      <button id="fdr_button"><a href=<%= @view_dog.direct_url%>>Full Profile on Family Dog Rescue</a></button><br>
      <a href="mailto:adopt@norcalfamilydogrescue.org?subject=Interested in Adopting/Fostering&body=Hey! I would like to set a playdate!">
        <i class="fa fa-paper-plane"></i>
      Email FDR about this dog!</a>

    </div>
  </div>

  <div class="attribute_list">
      <div class="affectionate" style="float:left; width: 14.2%">
        <h1 class="attr_header">Affectionate:
         <br> <span class="large_number"><%=@view_dog.ratings.where(affectionate: "on").count %></span> <br>votes </h1></div>
      <div class="independent" style="float:left; width: 14.2%">
        <h1 class="attr_header">Independent:
       <br> <span class="large_number"><%=@view_dog.ratings.where(independent: "on").count %></span> <br>votes </h1></div>
      <div class="playful" style="float:left; width: 14.2%">
        <h1 class="attr_header">Playful:
       <br> <span class="large_number"><%=@view_dog.ratings.where(playful: "on").count %></span> <br>votes </h1></div>
      <div class="timid" style="float:left; width: 14.2%">
        <h1 class="attr_header">Timid:
       <br> <span class="large_number"><%=@view_dog.ratings.where(timid: "on").count %></span> <br>votes </h1></div>
      <div class="good_with_kids" style="float:left; width: 14.2%">
        <h1 class="attr_header">Good w/ Kids:
       <br> <span class="large_number"><%=@view_dog.ratings.where(good_with_kids: "on").count %></span> <br>votes </h1></div>
      <div class="high_energy" style="float:left; width: 14.2%">
        <h1 class="attr_header">High Energy:
       <br> <span class="large_number"><%=@view_dog.ratings.where(high_energy: "on").count %></span> <br>votes </h1></div>
      <div class="chill" style="float:left; width: 14.2%">
        <h1 class="attr_header">Chill:
       <br> <span class="large_number"><%=@view_dog.ratings.where(chill: "on").count %></span> <br>votes </h1></div>
  </div>

  <div class="comments_section">
    <h1>What Everyone is Saying About <%=@view_dog.name%></h1>
    <% if !@valid_comments.blank? %>
      <% @valid_comments.each do |rating| %>
      <div class="bubble">
        <p><%= rating.comments %></p>
      </div>
      <% end %>
    <% end %>
  </div>


   <div class="share_feed">
    <h1>Volunteer Share Feed</h1>
      <% if !@valid_videos.blank? %>
      <% @valid_videos.each do |rating| %>

      <iframe width="460" height="315" src="https://www.youtube.com/embed/<%= rating.video_url.split('=')[-1] %>" frameborder="0" allowfullscreen></iframe>
      <% end %>
    <% end %>
  </div>


  <div class="rate_section">
    <button><h2>Rate <%= @view_dog.name %>!</h2></button><br>
    <form action="/dogs/<%=@view_dog.id%>" method="post" class="rate_form" id="<%=@view_dog.id%>">
    <h3>What is <%= @view_dog.name %> like? </h3>

      <input type="checkbox" name="dog[affectionate]"> Affectionate <br><br>

      <input type="checkbox" name="dog[independent]"> Independent <br><br>

      <input type="checkbox" name="dog[playful]" > Playful<br><br>

      <input type="checkbox" name="dog[timid]"> Timid<br><br>

      <input type="checkbox" name="dog[good_with_kids]"> Good with Kids<br><br>

      <input type="checkbox" name="dog[high_energy]"> High Energy<br><br>

      <input type="checkbox" name="dog[chill]"> Chill <br><br>

      <label for="video_link">Youtube Video Link: </label>
      <input type="text" name="dog[video_url]" id="video_link"> </textarea><br>

      <label for="comment_field">Comments: </label>
      <textarea name="dog[comments]" id="comment_field"> </textarea><br>

      <button type="submit"> Submit </button>

      <div class="padding"></div>

    </form>
  </div>

</div>


