
<h2>What type of dog are you looking for?</h2>
<form action="/search/results" method="get">
  <input type='text' name='breed' placeholder="  type of breed" size="45">
  <input type='submit' value='submit'>
</form>

<% unless @breed_list.empty? %>
  <h2>Results</h2>
  <% @breed_list.each do |dog| %>
  <p>Name: <%= dog.name %></p>
  <p>Breed: <%= dog.breed %></p>
  <p>Age: <%= dog.age %></p>
  <a href="/dogs/<%=dog.id%>">Go to <%= dog.name%>'s profile</a><br><br>
  <% end %>


<% else %>
<p>didn't find what you want? try our <a href='/randomize'>randomize option </a>and see what you get!</p>

<% end %>


