<div class="container">


  <form action="/search/results" method="get">
    <input type='text' name='breed' placeholder="  type of breed" size="45">
    <input type='submit' value='submit'>
  </form>

<% unless @breed_list.empty? %>

  <h2>Results</h2>
  <% @breed_list.each do |dog| %>
  <p><strong>Name:</strong> <%= dog.name %></p>
  <p><strong>Breed:</strong> <%= dog.breed %></p>
  <p><strong>Gender:</strong> <%= dog.gender %></p>
  <a href="/dogs/<%=dog.id%>">Go to <%= dog.name%>'s profile</a><br><br>
  <% end %>


<% else %>
<p>didn't find what you want? try our <a href='/randomize'>randomize option </a>and see what you get!</p>

<% end %>


</div>
