<div class="search_container">


  <form action="/search" method="post" id="search_form">
    <input type='text' name='breed' placeholder="  type of breed" size="45">
    <button id="add" type="submit">Search</button>
  </form>

<% if @breed_list.length > 0 %>

  <h2>Results</h2>
  <% @breed_list.each do |dog| %>
  <p><strong>Name:</strong> <%= dog.name %></p>
  <p><strong>Breed:</strong> <%= dog.breed %></p>
  <p><strong>Gender:</strong> <%= dog.gender %></p>
  <a href="/dogs/<%=dog.id%>">Go to <%= dog.name%>'s profile</a><br><br>
  <% end %>


<% else %>
  <span class="error_red"><%= @no_breed %></class>
  <p>try our <a href='/randomize'>randomize option </a>and see what you get!</p>

<% end %>


</div>
